<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">{{appTitle}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-click="selectMenuItem($event)" id="menuHome">
          <a href="#/home">Home</a>
        </li>
        <li ng-click="selectMenuItem($event)" id="menuReport">
          <a href="#/report">Report</a>
        </li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as
        <a class="navbar-link">{{authSession}}</a>
      </p>
    </div>
  </div>
</nav>