<div class="panel panel-default">
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active" ng-click="changeTab($event)">
        <a href="" aria-controls="general" role="tab" data-toggle="tab">Geral</a>
      </li>
      <li role="presentation" ng-click="changeTab($event)">
        <a href="" aria-controls="service" role="tab" data-toggle="tab">Serviço</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <form class="form-inline" ng-submit="searchGeneralData()" style="padding: 15px">
        <div class="form-group">
          <label for="datapicker">De:</label>
          <input type="text" class="form-control" id="startDate" ng-model="startDate" style="width: 150px !important"></input>
        </div>
        <div class="form-group">
          <label for="datapicker">até:</label>
          <input type="text" class="form-control" id="endDate" ng-model="endDate" style="width: 150px !important"></input>
        </div>
        <button type="submit" class="btn btn-success">Buscar</button>
        <div data-ng-include src="loadingTmp" hidden id="reportLoading"></div>
      </form>
      <div role="tabpanel" class="tab-pane active" id="general" class="fadeInDownBig">
        <div ng-repeat="type in Data">
          <h4 >{{type.name}}:
            <span class="label-report">{{type.value | currency}}</span>
          </h4>
          <hr/>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="service">
        <div>Sercicos</div>
      </div>
    </div>
  </div>
</div>